.user-container {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 30px;
  overflow: hidden;

  .right {
    height: 50%;
    width: 20%;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10px;
    .information {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
      padding: 10px;
      .avatar {
        // border: 1px solid brown;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-height: 100%;
          max-width: 90%;
        }
      }
      .info {
        text-align: center;
        font-size: 18px;
        height: 30%;
        width: fit-content;
        margin-left: 10px;
      }
    }
  }
  .left {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;

    .tab-list {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10px;

      .list {
        flex: 1;
        overflow-y: auto;

        padding-bottom: 40px;
      }
    }

    .tab-history {
      height: 100%;
      .history-container {
        height: 100%;
        overflow-y: auto;
        table {
          thead {
            position: sticky;
            top: 0;
            z-index: 2;
            background: white;
          }
        }
        padding-bottom: 60px;
      }
    }
  }
}
