.admin-container {
  display: flex;
  height: 100vh;

  m svg {
    width: 26px;
    height: 26px;
  }

  .admin-sidebar {
    aside.ps-sidebar-root.css-1wvake5 {
      height: 100%;
      box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    hr {
      margin: 0 50px 0 50px;
    }

    .css-dip3t8 {
      background-color: rgba(249, 249, 249, 0.233);
    }
    // ------------------------------------------------
    .sidebar-header {
      container-type: inline-size;
      text-align: center;
      display: flex;
      gap: 5px;
      cursor: pointer;
      .icon {
        img {
          max-width: 65px;
        }
      }
      .name {
        font-size: 35px;
        color: rgba(0, 0, 1, 0.831);
        font-weight: 700;
      }
    }
    // ------------------------------------------------
    .sidebar-body {
      height: 90%;

      span {
        &.ps-menu-label {
          &.css-12w9als {
            font-weight: 500;
          }
        }
      }

      a {
        &.ps-menu-button {
          &:hover {
            background-image: url("../../img/bg-sidebar.png");
          }
        }
      }

      .ps-submenu-content {
        background: transparent;
        background-color: rgba(255, 255, 255, 0.546) !important;
      }
    }
    // ------------------------------------------------
    .sidebar-footer {
      container-type: inline-size;
      text-align: center;
      margin-top: -60px;

      hr {
        margin-bottom: 10px;
        padding: 0 !important;
      }
      .banchan {
        padding: 10px 45px 10px 45px;
        .long-name {
          border-radius: 60px;
          background-color: rgba(255, 255, 255, 0.626);
          font-size: 22px;
          font-weight: 700;
        }
        .short-name {
          display: none;
          border-radius: 60px;
          background-color: rgba(255, 255, 255, 0.626);
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
    @container (max-width: 80px) {
      .sidebar-header {
        .icon {
          padding-left: 10px;
        }
      }

      .sidebar-body {
        .ps-submenu-expand-icon {
          span {
            display: none;
          }
        }
      }

      .sidebar-footer {
        .banchan {
          padding: 0;
          .long-name {
            display: none;
          }
          .short-name {
            display: inline;
            padding: 5px;
          }
        }
      }
    }
  }

  .admin-content {
    height: 100%;
    margin: 10px 22px 10px 22px;
    width: 100%;
    border-radius: 22px;
    overflow-y: auto;
    scrollbar-width: none;

    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px;

    .admin-header {
      height: 10%;
      width: 100%;
      border-radius: 22px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 55px;

      display: flex;
      align-items: center;
      padding-left: 3px;
      padding-right: 10px;
      .search-bar {
        width: 40%;
        .form-floating {
          input {
            height: 30px !important;
            border-radius: 60px;
          }
        }
      }
      .left-content {
        width: 60%;
        display: flex;
        justify-content: end;
        gap: 22px;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    .admin-main {
      padding-top: 10px;
      height: 90%;
      .dashboard-container {
        border: 1px solid red;
        .title {
          height: 30%;
          border: 1px solid blue;

          padding: 10px;
          font-size: 32px;
          font-weight: 600;
        }
        .content {
          margin-top: 10px;
          height: 70%;
          border: 1px solid green;
          .analys {
            display: flex;
            justify-content: center;
            gap: 33px;
            .total {
              width: 250px;
              height: 150px;
              border: 1px solid purple;
              border-radius: 17px;

              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;

              font-size: 22px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
