.list-quiz-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 85px;
  .quiz-card {
    width: 300px;
    height: 420px;
  }

  .quiz-img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
