.managequiz-container {
  padding: 18px;
  .title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .content {
    .btn-create {
      margin-bottom: 10px;
    }
    .table-quiz {
      margin-top: 22px;
    }
  }
}
