.manageuser-container {
  padding: 18px;
  .manageuser-title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .manageuser-content {
    .btn-add-new {
      // margin: 0 15px;
      margin-bottom: 10px;
    }
    .table-add-newuser {
      margin-top: 22px;
      // border: 1px solid yellow;
    }
  }
}

.modal-addnewuser {
  .img-review {
    height: 300px;
    border: 1px dashed black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .label-upload {
    max-width: fit-content;
    padding: 5px;
    background-color: #23222269;
    border-radius: 22px;
    cursor: pointer;
    &:hover {
      background-color: #615e5e69;
    }
  }

  .btn-edit-delete {
    display: flex;
    gap: 10px;
  }

  .btn-back-savechange {
    display: flex;
    gap: 10px;
  }
}
