.managequestion-container {
  .title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .content {
    .quiz-content {
      // border: 1px solid red;
    }
    .qa-content {
      .question {
        .col-2 {
          &.upload-img {
            padding: 25px 0 0 0;
            text-align: center;
            svg {
              font-size: 26px;
              margin-left: 10px;
            }
          }
        }

        .button {
          cursor: pointer;
          padding: 0;
          display: flex;
          // flex-direction: column;
          font-size: 38px;
          .btn-add {
            padding-top: 12px;
            text-align: center;
          }
          .btn-delete {
            font-size: 34px;
            padding-top: 14px;
            text-align: center;
            svg {
              color: red;
            }
          }
        }
      }
      .answers {
        .button {
          cursor: pointer;
          padding: 0;
          display: flex;
          // flex-direction: column;
          font-size: 38px;
          .btn-add {
            padding-top: 12px;
            text-align: center;
          }
          .btn-delete {
            font-size: 34px;
            padding-top: 14px;
            text-align: center;
            svg {
              color: red;
            }
          }
        }
      }
    }
  }
}
