.managequestion-container {
  .title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .content {
    .quiz-content {
    }
    .qa-content {
      .question {
        .col-2 {
          &.upload-img {
            padding: 25px 0 0 0;
            text-align: center;
            svg {
              font-size: 26px;
              margin-left: 10px;
              &:hover {
                background-color: rgb(227, 227, 227);
                border-radius: 3px;
              }
            }
          }
        }

        .button {
          cursor: pointer;
          padding: 0;
          display: flex;
          font-size: 34px;
          padding-top: 19px;
          .btn-add {
            text-align: center;
            svg {
              color: rgba(76, 175, 79, 0.77);
              &:hover {
                color: rgb(76, 175, 79);
              }
            }
          }
          .btn-delete {
            text-align: center;
            svg {
              color: rgba(251, 2, 2, 0.736);

              &:hover {
                color: red;
              }
            }
          }
        }
      }

      .answers {
        margin-top: -17px;
        margin-bottom: 17px;

        input {
          &.form-check-input {
            margin-top: -30px;
          }
        }
        .button {
          cursor: pointer;
          padding: 0;
          display: flex;
          font-size: 34px;
          padding-top: 19px;
          .btn-add {
            text-align: center;
            svg {
              color: rgba(76, 175, 79, 0.77);
              &:hover {
                color: rgb(76, 175, 79);
              }
            }
          }
          .btn-delete {
            text-align: center;
            svg {
              color: rgba(251, 2, 2, 0.736);

              &:hover {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
