.managequestion-container {
  .title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .content {
    .qa-content {
      .question {
        .col-9 {
          label {
            margin: 0;
            padding-left: 20px;
            color: black;
          }
        }

        .col-2 {
          &.upload-img {
            max-width: fit-content;
            padding: 10px 0 0 0;
            text-align: center;
            display: inline-flex;
            align-items: center;

            svg {
              cursor: pointer;

              font-size: 26px;
            }
            .exist-img {
              cursor: pointer;
              overflow: hidden;
              display: inline-flex;
              align-items: center;
              max-width: 100px;
              height: 30px;
              white-space: nowrap;
              text-overflow: ellipsis;
              line-height: 1;
              padding: 0 8px;
              font-size: 16px;
              border-radius: 17px;
              border: 1px solid black;

              &:hover {
                box-shadow:
                  rgba(0, 0, 0, 0.25) 0px 54px 55px,
                  rgba(0, 0, 0, 0.12) 0px -12px 30px,
                  rgba(0, 0, 0, 0.12) 0px 4px 6px,
                  rgba(0, 0, 0, 0.17) 0px 12px 13px,
                  rgba(0, 0, 0, 0.09) 0px -3px 5px;
              }
            }
          }
        }

        .button {
          cursor: pointer;
          padding: 0;
          display: flex;
          font-size: 34px;

          .btn-add {
            text-align: center;
            svg {
              color: rgba(76, 175, 79, 0.77);
              &:hover {
                color: rgb(76, 175, 79);
              }
            }
          }
          .btn-delete {
            text-align: center;
            svg {
              color: rgba(251, 2, 2, 0.736);

              &:hover {
                color: red;
              }
            }
          }
        }
      }

      .answers {
      }
      .col-7 {
        label {
          margin: 0;
          padding-left: 20px;
          color: black;
          // opacity: 1;
          // font-weight: bold;
        }
      }
      .button {
        cursor: pointer;
        padding: 0;
        display: flex;
        font-size: 34px;
        padding-top: 19px;
        .btn-add {
          text-align: center;
          svg {
            color: rgba(76, 175, 79, 0.77);
            &:hover {
              color: rgb(76, 175, 79);
            }
          }
        }
        .btn-delete {
          text-align: center;
          svg {
            color: rgba(251, 2, 2, 0.736);

            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}

.PreviewImg {
  background: none;
  // width: 100%;
}
